<!DOCTYPE html>
<html>
    <head>
        <title>Avinash Nandyala</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <style>
            #userPhoto {
                width: 120px; /* Adjust this value as needed */
                height: 120px;
                border-radius: 50%;
                margin-right: 10px;
            }
            .header-section {
            display: flex;
            align-items: center;
            padding: 20px 20px;
            border-bottom: 1px solid #eaeaea;
        }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Logo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#timeline">Timeline</a>
                    </li>
                    <li class ="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            
        </nav>
        <!-- <div class="container"> -->
            <div class="header-section">
                <img src="{{ url_for('static', filename='images/your_photo.jpg') }}" alt="Your Name" id="userPhoto">
                
                <div>
                    <h1>Avinash Nandyala</h1>
                    <p>Software Engineer</p>
                    <a href="#contact">Contact</a>
                </div>
            </div>
        <!-- </div> -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
    </body>
</html>